body {
  background-color: #161b22;
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  color: #f0f6fc;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

h4 {
  font-weight: 500;
  font-size: 18px;
}
.profile-name {
  font-size: 26px;
  line-height: 1.25;
}

img {
  border-radius: 100%;
}

.user-head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.profile-bio {
  flex-basis: 100%;
}

.octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}
p.profile-fullName {
  margin-top: 0;
  font-size: 1em;
  color: #fff;
  font-weight: lighter;
}
p.profile-team {
  margin-top: 0;
  font-size: 1.5em;
  color: rgb(151, 243, 255, 0.9);
  font-weight: lighter;
}
button.profile-button {
  cursor: pointer;
  margin-right: 0.25em;
  padding: 0.5em;
  border: none;
  border-radius: 4px;
  color: rgb(8, 44, 54);
}
button.profile-button:hover {
  background-color: #161b22;
  color: rgba(8, 44, 54, 0.616);
}
img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.repo-list {
  padding: 0;
  margin: 0;
}
.repo-item {
  list-style: none;
  padding: 0.5rem;
  margin: 0.5rem;
  max-width: 250px;
  border-top: 3px;
  border-top-style: solid;
  border-color: #21262d;
}
.follows-container {
  display: flex;
  gap: 0.5rem;
}

.repo-list a.accent {
  color: #58a6ff;
}
.repo-list a.accent:hover {
  text-decoration: underline;
  color: #58a6ff;
}

.overview-navigation {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 30px;
}

.overview-navigation a {
  padding-bottom: 0.5rem;
}

.overview-navigation a:hover {
  border-bottom: 2px;
  border-bottom-style: solid;
}

a {
  text-decoration: none;
  color: #f0f6fc;
}

a:hover {
  color: #a0a0a0;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
